<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#ffffff" />

<link rel="icon" href="/assets/favicon.svg" type="image/svg" />
<link rel="manifest" href="/assets/manifest.json" />

<link
  rel="stylesheet"
  href="/assets/styles/main.{{shared.app_info.version}}.css"
/>
<link
  rel="stylesheet"
  href="/assets/styles/secondary.{{shared.app_info.version}}.css"
  media="print"
  onload="this.media='all'"
/>
<noscript>
  <link
    rel="stylesheet"
    href="/assets/styles/secondary.{{shared.app_info.version}}.css"
  />
</noscript>

