<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ shared.app_info.name }} | Control Panel</title>
        <meta name="description" content="A template application." />
        <link rel="canonical" href="{{ shared.app_info.website_url }}" />
        {% include "_partials/meta.html" %}
        {% include "_partials/scripts.html" %}
    </head>
    <body>
        {% include "_partials/navbar.html" %}
        <main>
            <div class="container">
                <section class="card flex-col">
                    <h1>Manage Countries</h1>
                    <form>
                        <div class="form-control">
                            <label for="country_search">Search</label>
                            <input id="country_search"
                                   name="q"
                                   autocomplete="off"
                                   placeholder="Search for country..."
                                   hx-select="#country_list"
                                   hx-target="#country_list"
                                   hx-trigger="keyup changed delay:200ms"
                                   hx-get="/admin/countries"
                                   type="text" />
                        </div>
                    </form>
                    <div id="country_list" class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Blocked</th>
                                    <th>Flag</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for country in countries %}
                                    <tr>
                                        <td>
                                            <input hx-patch="/admin/countries/{{ country.id }}/lock-or-unlock"
                                                   hx-trigger="change"
                                                   name="locked"
                                                   value="{{ country.id }}"
                                                   type="checkbox"
                                                   {% if country.locked %}checked{% endif %} />
                                        </td>
                                        <td>
                                            <img class="flag"
                                                 width="24"
                                                 height="19"
                                                 src="/assets/images/flags/{{ country.code | lower }}.svg"
                                                 alt="{{ country.name }}'s Flag" />
                                        </td>
                                        <td>{{ country.name }}</td>
                                        <td>{{ country.code | upper }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <caption>
                                {% if countries.len() == 1 %}
                                    {{ countries.len() }} country
                                {% else %}
                                    {{ countries.len() }} countries
                                {% endif %}
                            </caption>
                        </table>
                    </div>
                </section>
            </div>
        </main>
        {% include "_partials/footer.html" %}
    </body>
</html>
