<header class="flex-col items-center gap-2">
    <img class="avatar"
         src="{{ user.image_url }}"
         alt="Profile image"
         width="64"
         height="64" />
    <div style="text-align: center">
        <h1 class="flex gap-2 items-center">
            {{ user.full_name | title }}
            {% if user.role == Role::Admin %}<div class="pill admin">Admin</div>{% endif %}
        </h1>
        <p class="muted">Signed up at: {{ user.created_at }}</p>
    </div>
    <div class="flex items-center gap-2">
        {% if let Some(country_code) = user.country_code %}
            {% if let
                Some(country_name) = user.country_name %}
                <img class="flag"
                     src="/assets/images/flags/{{ country_code | lower }}.svg"
                     alt="{{ country_name }}'s flag"
                     width="24"
                     height="19" />
                {% if let Some(region) = user.country_region %}{{ region }},{% endif %}
                {{
                country_name }}
            {% endif %}
        {% endif %}
    </div>
</header>
<form id="edit_user_form"
      class="flex-col"
      hx-patch="/admin/users/{{ user.id }}"
      hx-select="#edit_user_form">
    <div class="form-control">
        <label for="edit_user_form_locked">
            Locked?
            <input
                id="edit_user_form_locked"
                name="locked"
                type="checkbox"
                {%
                if
                user.locked
                %}checked{% endif %}
                />
            </label>
        </div>
        <div class="form-control">
            <label for="edit_user_form_role">Role</label>
            <select id="edit_user_form_role" name="role">
                <option value="user" {% if user.role == Role::User %}selected{% endif %}>User</option>
                <option value="admin" {% if user.role == Role::Admin %}selected{% endif %}>Admin</option>
            </select>
        </div>
        <div class="flex gap-2 form-actions">
            <button class="btn success" type="submit">Update</button>
            <button class="btn outline-hover" type="reset" onclick="closeModal()">Close</button>
        </div>
    </form>
