#modal_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation-name: fadeIn;
	animation-duration: 150ms;
	animation-timing-function: ease;
	width: 100%;
}

#modal_wrapper.closing {
	animation-name: fadeOut;
	animation-duration: 150ms;
	animation-timing-function: ease;
}

#modal_wrapper.closing > #modal {
	animation-name: zoomOut;
	animation-duration: 150ms;
	animation-timing-function: ease;
}

#modal_wrapper .underlay {
	position: fixed;
	background: var(--underlay);
	height: 100%;
	width: 100%;
	z-index: -1;
}

#modal_wrapper #modal {
	margin: 32px var(--default-spacing);
	width: calc(100% - var(--default-spacing));
	max-width: 480px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
	max-height: calc(100% - 6rem);
}

#modal-content header {
	margin-bottom: 8px;
}

.line-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pill {
	display: inline-block;
	padding: 2px 5px;
	font-weight: 900;
	font-size: 0.75rem;
	border-radius: 5px;
	border: var(--pill-border);
}

.pill.admin {
	background: var(--admin-color);
	color: var(--foreground);
}

.pill.pro {
	background: var(--pro-color);
	color: var(--foreground);
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.flag {
	border: var(--default-border);
}

img.avatar {
	border-radius: 100%;
	border: var(--default-border);
}

table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	cursor: default;
}

table thead {
	border-bottom: 2px solid var(--default-border-color);
}

table tbody tr:hover {
	transition: var(--transition);
	background: var(--table-row-hover);
}

table tbody tr td,
table thead tr th {
	text-align: left;
	padding: 8px 4px;
}

table tbody tr td {
	border-bottom: var(--default-border);
}

table caption {
	padding: 4px 0;
	caption-side: bottom;
	text-align: right;
	font-size: 0.9rem;
	color: #555;
}

.breakout {
  display: grid;
  grid-template-columns: 1fr 228px;
  gap: 16px;
}

.breakout ol {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 2.5rem;
}

.breakout ol button {
  width: 132px;
  height: 168px;
  font-weight: 900;
  transition: var(--transition);
}

.breakout ol button:hover {
  border: 1px solid var(--info-bg);
}

.breakout ol button.voted {
  border: 2px solid var(--info-bg);
  color: var(--info-bg-hover);
  background: #dc563917;
}

.hoverable {
  padding: 4px 8px;
  cursor: default;
  border-radius: 8px;
  font-size: 1.05rem;
}

.hoverable:hover {
  background: var(--background);
}

@media (max-width: 600px) {
  .breakout {
    grid-template-columns: 1fr;
  }

  .breakout aside {
    order: 1;
  }

  .breakout section {
    order: 2;
  }

  .breakout ol button {
    font-size: 1.25rem;
    width: 132px;
    height: 84px;
  }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}

