<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ shared.app_info.name }} | Breakout</title>
        <meta name="description" content="A team breakout so that your team can start estimating stories." />
        {% include "_partials/meta.html" %}
        {% include "_partials/scripts.html" %}
        <script src="/assets/scripts/name-swap.{{shared.app_info.version}}.js" defer></script>
        <script src="/assets/scripts/ws-listener.{{shared.app_info.version}}.js" defer></script>
    </head>
    <body>
        {% include "_partials/navbar.html" %}
        <main>
          <div class="container">
            <div class="breakout" hx-ext="ws" ws-connect="/breakout/{{ breakout.lookup_id }}/ws">
              <section>
                  <ol id="card_list" class="cards">
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="1" />
                        <button onclick="toggleCard(event)">1</button>
                      </form>
                    </li>
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="2" />
                        <button onclick="toggleCard(event)">2</button>
                      </form>
                    </li>
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="3" />
                        <button onclick="toggleCard(event)">3</button>
                      </form>
                    </li>
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="5" />
                        <button onclick="toggleCard(event)">5</button>
                      </form>
                    </li>
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="8" />
                        <button onclick="toggleCard(event)">8</button>
                      </form>
                    </li>
                    <li>
                      <form ws-send>
                        <input type="hidden" name="action" value="vote" />
                        <input type="hidden" name="vote" value="13" />
                        <button onclick="toggleCard(event)">13</button>
                      </form>
                    </li>
                  </ol>
              </section>
              <aside class="card flex-col">
                <div id="votes"></div>
              </aside>
            </div>
          </div>
          <div id="name_swap" hx-get="/breakout/{{ breakout.lookup_id }}/user" hx-target="#modal"></div>
        </main>
        {% include "_partials/footer.html" %}
    </body>
</html> 
