<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ shared.app_info.name }} | Homepage</title>
        <meta name="description" content="Tired of planning poker apps with limitations, ads, or high prices, we built our own simplified tool. It focuses on straightforward estimates." />
        <link rel="canonical" href="{{ shared.app_info.website_url }}" />
        {% include "_partials/meta.html" %}
        {% include "_partials/scripts.html" %}
    </head>
    <body>
        {% include "_partials/navbar.html" %}
        <main>
            <div class="container">
                <section class="card flex-col">
                    <h1 class="flex-col items-center gap-2 text-center">
                      <img src="/assets/images/wave.gif" alt="ferris waving" height="135" width="240" fetchpriority="high" />
                      Welcome to {{ shared.app_info.name }}!
                    </h1>
                    <div class="flex-col gap-2 text-center">
                      Tired of planning poker apps with limitations, ads, or high prices, we built our own simplified tool. It focuses on straightforward estimates, helping teams concentrate and fostering thoughtful discussions to unlock deeper work insights.
                    </div>
                    <div class="flex-col items-center">
                      <button hx-put="/breakout" class="btn btn-lg info">Create a Breakout</button>
                    </div>
                </section>
            </div>
        </main>
        {% include "_partials/footer.html" %}
    </body>
</html>
