<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ shared.app_info.name }} | Homepage</title>
        <meta name="description" content="A template application." />
        <link rel="canonical" href="{{ shared.app_info.website_url }}" />
        {% include "_partials/meta.html" %}
        {% include "_partials/scripts.html" %}
    </head>
    <body>
        {% include "_partials/navbar.html" %}
        <main>
            <div class="container">
                <section class="card flex-col">
                    <h1 class="flex-col items-center gap-2 text-center">
                      <img src="/assets/images/wave.gif" alt="ferris waving" height="135" width="240" />
                      Welcome to {{ shared.app_info.name }}!
                    </h1>
                    <div class="flex-col gap-2 text-center">
                      We were tied of planning poker applications that had limits, ads, or cost more than
                      Netflix. So, we made our own planning tool without all the bells and whistles.
                      Just straight-forward estimates. This helps teams focus and guides them into thoughtful
                      discussions to unlock deeper insights on work.
                    </div>
                    <div class="flex-col items-center">
                      <button hx-put="/breakout" class="btn btn-lg info">Create a Breakout</button>
                    </div>
                </section>
            </div>
        </main>
        {% include "_partials/footer.html" %}
    </body>
</html>
